{% set intro = g.site_intro_text %}
{% set html_content = h.get_landingpage_news() %}

<div class="module-content box" id="GeodirektLandingPage" style="overflow:auto;">

  {% if html_content is not none %}
    <div style="height:220px; width:420px;">
      {{ html_content | safe }}
	</div>
  {% else %}
    <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Open data portal") }}</h1>
    {% endif %}
  </header>
   {% if intro %}
   {% else %}
    {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img class="img-responsive" src="{{ h.url_for_static('/geodirekt.png') }}" alt="GeoDirekt" width="420" height="220"/>
        </a>
      {% endblock %}
    </section>
    {% endblock %}
   {% endif %}
  {% endif %}
  
</div>