{% ckan_extends %}

{{ super() }}

  {% block data_preview %}
    {% if res %}
      <section class="module">
        {% block resource_additional_information_inner %}
        <div class="module-content">
          <h2>{{ _('Information about resource') }}</h2>
          <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
            <thead>
              <tr>
                <th scope="col">{{ _('Field') }}</th>
                <th scope="col">{{ _('Value') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ _('Format') }}</th>
                <td>{{ res.format or res.mimetype_inner or res.mimetype or _('unknown') }}</td>
              </tr>

			{% if res.resource_language %}
              <tr>
                <th scope="row" class="dataset-label">{{ _('Language of resource') }}</th>
                <td>{{ res.resource_language }}</td>
              </tr>
            {% endif %}

            {% if res.resource_owner_email %}
              <tr>
                <th scope="row" class="dataset-label">{{ _("Resource Owner") }}</th>
                <td>{{ h.mail_to(email_address=res.resource_owner_email, name=res.resource_owner) }}</td>
              </tr>
            {% elif res.resource_owner %}
              <tr>
                <th scope="row" class="dataset-label">{{ _("Resource Owner") }}</th>
                <td>{{ res.resource_owner }}</td>
              </tr>
            {% endif %}

            {% if res.resource_contact_email %}
              <tr>
                <th scope="row" class="dataset-label">{{ _("Resource Contact") }}</th>
                <td>{{ h.mail_to(email_address=res.resource_contact_email, name=res.resource_contact) }}</td>
              </tr>
            {% elif res.resource_contact %}
              <tr>
                <th scope="row" class="dataset-label">{{ _("Resource Contact") }}</th>
                <td>{{ res.resource_contact }}</td>
              </tr>
            {% endif %}
			  
              <tr>
                <th scope="row" class="dataset-label">{{ _("Resource License") }}</th>
                {% if res.resource_license_id %}
                <td>
                    {% for license_id, license_desc in h.license_options(res.resource_license_id) %}
                        {% if license_id == res.resource_license_id %}
                            {{ license_desc }}
                        {% endif %}
                    {% endfor %}
                </td>
                {% else %}
                <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %} {{ _("(same as dataset)") }}</td>
                {% endif %}
              </tr>

			{% if res.classification %}
              <tr>
                <th scope="row" class="dataset-label">{{ _('Classification') }}</th>
                <td>{{ res.classification }}</td>
              </tr>
            {% endif %}

			{% if res.completeness %}
              <tr>
                <th scope="row" class="dataset-label">{{ _('Completeness') }}</th>
                <td>{{ res.completeness }}</td>
              </tr>
            {% endif %}

			{% if res.update_frequency %}
              <tr>
                <th scope="row" class="dataset-label">{{ _('Update frequency') }}</th>
                <td>{{ res.update_frequency }}</td>
              </tr>
            {% endif %}

			{% if res.created %}
              <tr>
                <th scope="row" class="dataset-label">{{ _('Created') }}</th>
                <td data-raw-key="created">{% snippet 'snippets/local_friendly_datetime, datetime=res.created %}</td>
              </tr>
            {% else %}
              {# Workaround for bug in CKAN 2.8.5 #}
              {% for key, value in res.items() %}
                {% if key in ('Skapad datum', 'Created', 'skapad datum', 'created') %}
				  <tr>
					<th scope="row" class="dataset-label">{{ _('Created') }}</th>
					<td data-raw-key="created">{% snippet 'snippets/local_friendly_datetime, datetime=value %}</td>
				  </tr>
                {% endif %}
              {% endfor %}
            {% endif %}

			{% if res.last_modified %}
              <tr>
                <th scope="row" class="dataset-label">{{ _('Last Modified') }}</th>
                <td data-raw-key="last_modified">{% snippet 'snippets/local_friendly_datetime, datetime=res.last_modified %}</td>
              </tr>
            {% elif pkg.metadata_modified %}
              <tr>
                <th scope="row" class="dataset-label">{{ _('Last Modified') }}</th>
                <td data-raw-key="last_modified">{% snippet 'snippets/local_friendly_datetime, datetime=pkg.metadata_modified %}</td>
              </tr>
            {% endif %}

			{% if res.coordinate_system %}
              <tr>
                <th scope="row" class="dataset-label">{{ _('Coordinate system') }}</th>
                <td>{{ res.coordinate_system }}</td>
              </tr>
            {% endif %}

			{% if res.area %}
              <tr>
                <th scope="row" class="dataset-label">{{ _('Area') }}</th>
                <td>{{ res.area }}</td>
              </tr>
            {% endif %}

            {% if res.north %}
              <tr>
                <th scope="row" class="dataset-label">{{ _("North") }}</th>
                <td>{{ res.north }}</td>
              </tr>
            {% endif %}

            {% if res.south %}
              <tr>
                <th scope="row" class="dataset-label">{{ _("South") }}</th>
                <td>{{ res.south }}</td>
              </tr>
            {% endif %}

            {% if res.east %}
              <tr>
                <th scope="row" class="dataset-label">{{ _("East") }}</th>
                <td>{{ res.east }}</td>
              </tr>
            {% endif %}

            {% if res.west %}
              <tr>
                <th scope="row" class="dataset-label">{{ _("West") }}</th>
                <td>{{ res.west }}</td>
              </tr>
            {% endif %}

            {% if res.scale_factor %}
              <tr>
                <th scope="row" class="dataset-label">{{ _('Scale factor') }}</th>
                <td>{{ res.scale_factor }}</td>
              </tr>
            {% endif %}

            {% if res.z_min %}
              <tr>
                <th scope="row" class="dataset-label">{{ _('Z min') }}</th>
                <td>{{ res.z_min }}</td>
              </tr>
            {% endif %}

            {% if res.z_max %}
              <tr>
                <th scope="row" class="dataset-label">{{ _('Z max') }}</th>
                <td>{{ res.z_max }}</td>
              </tr>
            {% endif %}

            {# All other fields, directly visible #}
              {% for key, value in h.format_resource_items(res.items()) %}
                {% if key not in ('has views', 'id', 'package id', 'revision id', 'state', 'format', 'metadata created', 'Created', 'created', 'last modified', 'resource license id', 'resource language', 'resource owner', 'resource owner email', 'resource contact', 'resource contact email', 'north', 'south', 'east', 'west', 'classification', 'completeness', 'update frequency', 'coordinate system', 'area', 'scale factor', 'z min', 'z max', 'Skapad datum', 'skapad datum') %}
                  {% if value == True %}
                  <tr><th scope="row">{{ _(key | capitalize) }}</th><td>{{ _('True') }}</td></tr>
                  {% elif value == False %}
                  <tr><th scope="row">{{ _(key | capitalize) }}</th><td>{{ _('False') }}</td></tr>
                  {% else %}
                  <tr><th scope="row">{{ _(key | capitalize) }}</th><td>{{ _(value) }}</td></tr>
                  {% endif %}
                {% endif %}
              {% endfor %}

            {# Fields available under more link #}
              {% for key, value in h.format_resource_items(res.items()) %}
                {% if key in ('has views', 'id', 'package id', 'revision id', 'state') %}
                  {% if value == True %}
                  <tr class="toggle-more"><th scope="row">{{ _(key | capitalize) }}</th><td>{{ _('True') }}</td></tr>
                  {% elif value == False %}
                  <tr class="toggle-more"><th scope="row">{{ _(key | capitalize) }}</th><td>{{ _('False') }}</td></tr>
                  {% else %}
                  <tr class="toggle-more"><th scope="row">{{ _(key | capitalize) }}</th><td>{{ _(value) }}</td></tr>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endblock %}
      </section>
    {% endif %}
  {% endblock %}

  {% block resource_additional_information %}
      <h3> {{ _('Geographical coverage') }} </h3>
      {% block resource_view %}
        {% block resource_view_nav %}
          {% set resource_preview = h.resource_preview(c.resource, c.package) %}
          {% snippet "package/snippets/resource_views_list.html",
             views=resource_views,
             pkg=pkg,
             is_edit=false,
             view_id=current_resource_view['id'],
             resource_preview=resource_preview,
             resource=c.resource,
             extra_class="nav-tabs nav-tabs-plain"
           %}
        {% endblock %}
          {% block resource_view_content %}
            <div class="resource-view">
              {% set resource_preview = h.resource_preview(c.resource, c.package) %}
              {% set views_created = res.has_views or resource_preview %}
              {% if views_created %}
                {% if resource_preview and not current_resource_view %}
                  {{ h.resource_preview(c.resource, c.package) }}
                {% else %}
                  {% for resource_view in resource_views %}
                    {% if resource_view == current_resource_view %}
                      {% snippet 'package/snippets/resource_view.html',
                         resource_view=resource_view,
                         resource=c.resource,
                         package=c.package
                       %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% else %}
                {# Views not created #}
                <div class="data-viewer-info">
                  <p>{{ _("There are no views created for this resource yet.") }}</p>
                  {% if h.check_access('resource_view_create', {'resource_id': c.resource.id}) %}
                    <p class="text-muted">
                      <i class="fa fa-info-circle"></i>
                      {{ _("Not seeing the views you were expecting?")}}
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
                        {{ _('Click here for more information.') }}</a>
                    </p>
                    <div id="data-view-info" class="collapse">
                      <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
                      <ul>
                        <li>{{ _("No view has been created that is suitable for this resource")}}</li>
                        <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
                        <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
                      </ul>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          {% endblock %}
        </div>
      {% endblock %}
  {% endblock %}

  {% block resource_license %}
  {% endblock %}
